<div style="margin-left:25%">

<div class="w3-container ">
  <h1>A heading with a solid red bottom border</h1>
</div>
  <div class="a">
    <h2>欲しい物はなんですか・わあわあわあ</h2>
    <h３>欲しい物はなんですか・わあわあわあ</h>
  <div>
    <button>Default Button</button>
  </div>
 </div>



</div>
