.App {
  text-align: center;
}

.App-header {
  background-color: rebeccapurple;
  height: 30px;
  padding: 0px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
  background-color: blue;
  text-align: center;
  color:yellow;
}

.List_of_foods {
  color:red;
  text-align: left;
}

.food_details {
  color:red;
  text-align: center;
}
.tips {
  text-align: left;
}
